 <div class="login-wrap">
        <h3 class="text-center">Don't have an account?</h3>
        <form action="#" class="signup-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" id="">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" id="">
            </div>
            <div class="form-group">
                <input id="password-field" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="form-control">Sign up</button>
            </div>
        </form>
    </div>