

.container{
    position: relative;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

#dashboard-nav{
    position: relative;
    top: 70px;
    right: 110px;
}

.user-list{
    width: 448px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 25px;
    left: 7px;
    border-radius: 15px;
}

.news-widget{
    width: 800px;
    height: 200px;
    background-color:  rgba(0, 0, 0, 0.6);
    position: relative;
    left: 470px;
    bottom: 502px;
    border-radius: 15px;
}



.graphic-widget{
    width: 800;
    height: 330;
    background-color:  rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    position: relative;
    bottom: 525px;
    left: 470px;
}

#delete-btn{
    border-color: whitesmoke;
    font-family: 'custom-font';
    font-size: 14px;
    padding: 10;
    padding-top: 1;
    padding-bottom: 1;
    position: relative;
    left: 300px;
    bottom: 25px;
}

#delete-btn:hover{
    color: lightblue;
}

#add-btn{
    border-color: whitesmoke;
    font-family: 'custom-font';
    position: relative;
    top: 35px;
    padding-left: 5px;
}
#add-btn:hover{
    color: #eb64b5;
}

#portfolio-text{
    font-size: 38px;
    text-align: center;

}


.crypto-list{
    height: 350px;
    overflow-y: scroll;
}

#img-dashboard{
    width: 8%;
}

.crypto-list::-webkit-scrollbar {
    width: 8px;
  }
  
  .crypto-list::-webkit-scrollbar-track {
    background-color: whitesmoke;
    border-radius: 5px;
    opacity: 0.5;
  }
  
  .crypto-list::-webkit-scrollbar-thumb {
    background: linear-gradient(#1d1f3b, #a7c7d8);
    border-radius: 5px;
  }