#user-info{
    display: flex;
    justify-content: center;
}

#profile-navbar{
    position: relative;
    top: 80px;  
    right: 30px;
  }

  .profile-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 25px;
    bottom: 80px;
    font-family: 'custom-font';
    animation: slide 2s;
  }

  @keyframes slide{
    from{
      opacity: 0.2;
    }
    to{
      opacity: 1;
    }
  }

  .profile-bg{
    background-color: rgba(0, 0, 0, 0.5);
    width: 320px;
    height: 300px;
    position: relative;
    left: 38%;
    top: 25%;
    border-radius: 15px;  }

    #welcome-text{
        font-size: 42px;
    }

    #profile-text{
      font-size: 22px;
    }