@font-face {
  font-family: custom-font;
  src: url(/fonts/CaviarDreams.ttf);
}

.signup-wrap {
  display: grid;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 350px;
  right: 15px;
  animation: slide 2s;
}

@keyframes slide{
  from{
    opacity: 0.2;
  }
  to{
    opacity: 1;
  }
}

.signup-form,
.login-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: 'custom-font';
}


#username-field:hover,
#password-field:hover,
#email-field:hover {
  opacity: 0.5;
  transition: 0.3s linear;
}

#login-btn,
#signup-btn {
  border: 1px solid whitesmoke;
  font-family: custom-font;
}

#login-btn:hover,
#signup-btn:hover {
  color: lightblue;
  border-color: lightblue;
}


#account-question {
  font-size: 18px;
}

.signup-bg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 350px;
  height: 410px;
  position: relative;
  left: 580px;
  top: 70px;
  border-radius: 15px;
}



