@font-face {
  font-family: custom-font;
  src: url(/fonts/CaviarDreams.ttf);
}

.signup-wrap {
  display: grid;
  flex-direction: column;
  justify-content: center;
   position: relative;
  top: 20%;
}

.signup-form,
.login-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: custom-font;
}

#home-logo {
  color: whitesmoke;
  font-family: custom-font;
  font-size: 30px;
  position: relative;
  left: 20px;
  bottom: 15px;
  margin-right: 100%;
}


#introduction-text {
  font-family: custom-font;
  text-align: center;
  position: relative; 
  top: 100px;
}

.up-login-btn {
  font-family: custom-font;
  font-weight: bold;
  letter-spacing: 1px;
  color: whitesmoke;
  transition: 0.5 ease;
  position: relative; 
  bottom: 60px;
}

.up-login-btn:hover,
#home-dropdown:hover {
  color: lightblue;
  transform: translateY(-0.25rem);
  transition: transform 250ms;
}

ul:hover li a:not(:hover) {
  color: whitesmoke;
  opacity: 0.8;
  filter: blur(1px);
}

#username-field:hover,
#password-field:hover,
#email-field:hover {
  opacity: 0.5;
  transition: .3s linear;
}

#login-btn,
#signup-btn {
  border: 1px solid whitesmoke;
  font-family: custom-font;
}

#login-btn:hover,
#signup-btn:hover {
  color: #eb64b5;
  border-color: lightblue;
}

#home-dropdown{
  position: relative;
    bottom: 58px;
    background-color: transparent;
    border: none;
    font-family: 'custom-font';
    font-weight: bold;
    color: whitesmoke;
    letter-spacing: 1px;
}

#account-question{
  font-size: 18px;
}

