<!DOCTYPE html>
<html>
<head>
  <title>Crypto List</title>

</head>
<body>
  <h1>Crypto List</h1>
  <!-- Displays the list of coins fetched from the API -->
  {{#each Cryptos}}
    <p>{{this.cryptoName}}</p>
  {{/each}}
  <a href="/dashboard">View dashboard</a>
  <a href="/user-profile">User Profile</a>
  <a href="/home-signup">Logout</a>


  
</body>
</html>


