<!DOCTYPE html>
<html>
<head>
  <title>Crypto List</title>

</head>
<body>
  <h1>Crypto List</h1>
  <!-- Displays the list of coins fetched from the API -->
  {{#each crypto}}
    <p>{{this.name}}</p>
  {{/each}}
  <a href="/dashboard">View Favorite Cryptos</a>
  <a href="/user/profile">User Profile</a>
  <a href="/user/logout">Logout</a>
</body>
</html>
