<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "description": "BITCOIN",
      "proName": "BINANCE:BTCUSDT"
    },
    {
      "description": "ETHEREUM",
      "proName": "BITSTAMP:ETHUSD"
    },
    {
      "description": "XRP",
      "proName": "BINANCE:XRPUSDT"
    },
    {
      "description": "CARDANO",
      "proName": "BINANCE:ADAUSDT"
    },
    {
      "description": "DOGECOIN",
      "proName": "BINANCE:DOGEUSDT"
    },
    {
      "description": "LITECOIN",
      "proName": "BINANCE:LTCUSDT"
    },
    {
      "description": "SOLANA",
      "proName": "COINBASE:SOLUSD"
    },
    {
      "description": "POLYGON",
      "proName": "KUCOIN:MATICUSDT"
    },
    {
      "description": "DOT",
      "proName": "KUCOIN:DOTUSDT"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "dark",
  "isTransparent": true,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->

<ul class="nav justify-content-end nav-bar" id="dashboard-nav">
  <li class="nav-item">
    <a class="nav-link active up-login-btn" href="/user-profile">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active up-login-btn" href="signup">Logout</a>
  </li>

</ul>

<div class="container" style="width: 1300px; height: 600px;">
  <div class="user-list"></div>
  <div class="graphic-widget">
    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
  {
  "symbols": [
    [
      "BINANCE:BTCUSDT|60M"
    ],
    [
      "BITSTAMP:ETHUSD|60M"
    ],
    [
      "BINANCE:BNBUSDT|60M"
    ],
    [
      "BINANCE:XRPUSDT|60M"
    ],
    [
      "BINANCE:ADAUSDT|60M"
    ]
  ],
  "chartOnly": false,
  "width": "790",
  "height": "320",
  "locale": "en",
  "colorTheme": "dark",
  "autosize": false,
  "showVolume": false,
  "showMA": false,
  "hideDateRanges": false,
  "hideMarketStatus": false,
  "hideSymbolLogo": false,
  "scalePosition": "right",
  "scaleMode": "Normal",
  "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
  "fontSize": "10",
  "noTimeScale": false,
  "valuesTracking": "1",
  "changeMode": "price-and-percent",
  "chartType": "area",
  "maLineColor": "#2962FF",
  "maLineWidth": 1,
  "maLength": 9,
  "backgroundColor": "rgba(19, 23, 34, 0)",
  "lineWidth": 2,
  "lineType": 0,
  "dateRanges": [
    "1d|1",
    "12m|1D",
    "60m|1W",
    "all|1M"
  ]
}
  </script>
</div>
<!-- TradingView Widget END -->
  </div>
  <div class="news-widget">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
  {
  "feedMode": "market",
  "market": "crypto",
  "colorTheme": "dark",
  "isTransparent": true,
  "displayMode": "adaptive",
  "width": "790",
  "height": "190",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
  </div>