<nav class="navbar">
  <div class="container-fluid">
    <span class="navbar-brand" id="home-logo">Express<b>Crypto</b></span>
  </div>
</nav>

<ul class="nav justify-content-end nav-bar" id="navbar">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="home-dropdown"
    >
      About Us
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="https://github.com/lltelles">Lucas Github</a></li>
      <li><a class="dropdown-item" href="https://github.com/jcarrilho">João Github</a></li>
    </ul>
  </div>
  <li class="nav-item">
    <a class="nav-link active up-login-btn" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active up-login-btn" href="/signup" id="up-signup-btn">Sign Up</a>
  </li>

</ul>
  <img src="/images/laptop.png" style="width: 50%;" id="laptop">
  <img src="/images/dashboard.jpg" id="dashboard-img">

<div class="rows" id="introduction-text">
  <div class="card-body col-6 p-3">
    {{!-- <h1><b style="font-size: 50px;">Welcome to ExpressCrypto</b></h1> --}}
    
    <p>Our platform is designed to help you
      <b> track your favorite coins</b>
      and stay up-to-date with the
      <b> latest news</b>
      and <b>market trends.</b></p>
     <p>With ExpressCrypto, you can easily monitor the prices of the coins of
      your choice. Our
      <b>user-friendly interface</b>
      allows you to customize your portfolio by adding the coins you are
      interested in, and
      <b> tracking their performance</b>
      in real-time.</p> 
  </div>
  <a href="/signup" id="get-started-btn">GET STARTED</a>
</div>




      
    