 <div class="login-wrap">
  <h3 class="text-center">Welcome!</h3>


  <form action="/list" class="signin-form" method="post">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" id="" name="username"/>
    </div>
    <div class="form-group">
      <input
        id="password-field"
        type="password"
        class="form-control"
        placeholder="Password"
        name="password"
      />
    </div>
    <div class="form-group">
      <button type="submit" class="form-control">Sign In</button>
    </div>
  </form>
</div> 


