

<ul class="nav justify-content-end nav-bar" id="profile-navbar">

  <li class="nav-item">
    <a class="nav-link active up-login-btn" href="/dashboard">View Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active up-login-btn" href="/logout">Logout</a>
  </li>

</ul>

<div class="profile-bg" >
</div>
<div class="profile-wrap">
{{#if userInSession}}
<h2 id="welcome-text">Welcome, {{userInSession.username}}!</h2>
<p id="profile-text">This is your profile!</p>

{{else}}
<br> <!-- stands for a new line break -->
<p>Still no logged in user</p>
{{/if}}
</div>
 
